<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@routes.Assets.versioned("js/jquery.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-transition.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-carousel.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-alert.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-modal.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-dropdown.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-scrollspy.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-tab.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-tooltip.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-popover.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-button.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-collapse.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap-typeahead.js")"></script>
<script src="@routes.Assets.versioned("js/jquery-ui-1.8.18.custom.min.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.smooth-scroll.min.js")"></script>
<script src="@routes.Assets.versioned("js/lightbox.js")"></script>
<script>
$('.carousel').carousel({
  interval: 5000
})
</script>

